{{#each this}}
<div class="child-table">
    <div class="actionTools">
        {{#each actionToolsData}}
            {{{actionToolsHtml}}}
        {{/each}}
    </div>
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li></li>
            <li class="active">
                <a href="#objectInfoTab" data-toggle="tab"><font key="i18n.objectInfo"></font></a>
            </li>
            <li>
                <a href="#businessInfoTab" data-toggle="tab"><font key="i18n.businessInfo"></font></a>
            </li>
            {{#each pages}}
            <li>
                <a href="#tab_{{@index}}" data-toggle="tab"><font key="i18n.{{title}}"></font></a>
            </li>
            {{/each}}
            <li></li>
        </ul>
        <div class="tab-content" style="padding:0;">
            <div class="tab-pane active" id="objectInfoTab">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            {{#each data}}
                            <div class="col-lg-6">
                                <td>  {{{title}}} : </td>  
                                <td>  {{{showInfo data}}}  </td> 
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="businessInfoTab">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>

            {{#each pages}}
            <div class="tab-pane" id="tab_{{@index}}">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div>
                            <iframe frameborder='0' width="100%" height="350px" src='{{url}}'></iframe>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}


